#border {
  background-color: #e6e6e6;
  border-style: solid;
  border-color: #297373;
  border-width: 10px;
  width: 500px;
  margin: auto;
  padding: 40px;
}

h1 {
  color: #297373;

  text-align: center;
  padding-bottom: 100px;
  padding-top: 10px;
}

h2 {
  color: #ff8552;
  text-align: center;
  padding-bottom: 20px;
  text-transform: capitalize;
}

h3 {
  color:#3A606E;
  text-align: center;
  text-transform: capitalize;
}

#buttonDiv {
  margin: 50px;
  text-align: center;
}

@media screen and (max-width: 768px) {
    * {
        max-width: 100%;
        height: auto;
    }